@model Epam.DigitalLibrary.LibraryMVC.Models.NewspaperModels.NewspaperFullDetails

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

@{
    var error = TempData["Error"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NewspaperFullDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewspaperDetails.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewspaperDetails.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewspaperDetails.PublicationPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewspaperDetails.PublicationPlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewspaperDetails.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewspaperDetails.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewspaperDetails.PublicationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewspaperDetails.PublicationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewspaperDetails.ObjectNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewspaperDetails.ObjectNotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewspaperDetails.ISSN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewspaperDetails.ISSN)
        </dd>
    </dl>

    <h4>Release Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDetails.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDetails.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDetails.PagesCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDetails.PagesCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDetails.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDetails.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDetails.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDetails.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDetails.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDetails.IsDeleted)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="GetAllReleases">Back to List</a>
    </form>
</div>
